.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.text {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.completedPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
}

.completedPage h5{
    text-align: center;
}

.link{
    margin-left: 10px;
}

.error {
    color: #bfbf59;
}

.error::before {
    display: inline;
    content: "⚠ ";
}