.main {
    display: grid;
    grid-template-rows: 100px 10fr;
    grid-template-columns: 100%;
    grid-template-areas: "nav " "cont";
}

.nav {
    grid-area: nav;

}

.content {
    grid-area: cont;
    margin: 20px;
}