.App {
    min-height: 100vh;
}

.night {
    width: 100%;
    background: url("./assets/night_2.jpg");
    background-attachment: fixed;
    color: white;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.night a{
    color: #999999;
    text-decoration: none;
}
.night a:hover{
    color: #999999;
}

.day {
    color: black;
    background-image: url("./assets/day_2.jpg");
    background-attachment: fixed;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.day a{
    color: #0b0b0b;
    text-decoration: none;
    font-weight: bold;
}
.day a:hover{
    color: #292929;
}


