.App {
    min-height: 100vh;
}

.night {
    background: url("./assets/nightMode.jpg");
    background-attachment: fixed;
    /*background-color: #3B3355;*/
    color: white;
}

.day {
    color: black;
    background-image: url("./assets/day.jpg");
    background-attachment: fixed;
    /*background-color: #FEE9E1;*/
}


