.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.wrapper {
    padding-left: 20%;
    padding-top: 5%;
    width: 100%;
    height: 500px;
}

