.content {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    float: right;
}

.button {
    margin: 10px;
    min-width: 80px;
}

.button a {
    text-decoration: none;
    color: white;
}

.toolButtons {
    float: end;
}
