.content {
    display: grid;
    grid-template-rows: 100px 200px 2fr;
    grid-template-columns: 100%;
    grid-template-areas: "nav" "info" "items";
}

.nav {
    grid-area: nav;
}

.items {
    grid-area: items;
}

.userInfo {
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.4);
    color: orange;
    padding: 20px;
    margin: 20px;
    grid-area: info;
}

.icon {
    color: grey;
    margin: 20px;
    cursor: pointer;
    vertical-align: top;
}

.item {
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.4);
    color: orange;
    padding: 20px;
    margin: 20px;
}

.like {
    cursor: pointer;
}

.rate {
    font-size: small;
    margin-left: 10px;
    display: table-cell;
    vertical-align: middle
}
