.content {
    display: grid;
    grid-template-rows: 150px 2fr;
    grid-template-columns: 100%;
    grid-template-areas: "nav" "contentWrapper";
}

.contentWrapper{
    grid-area: contentWrapper;
}

.nav {
    grid-area: nav;
}

.items {
    display: block;
}

.userInfo {
    display: block;
    min-height: 150px;
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.4);
    padding: 20px;
    margin: 20px;
    grid-area: info;
}

.icon {
    margin: 20px;
    cursor: pointer;
    vertical-align: top;
}

.item {
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.4);
    padding: 20px;
    margin: 20px;
}

.like {
    cursor: pointer;
}

.rate {
    font-size: small;
    margin-left: 10px;
    display: table-cell;
    vertical-align: middle
}
