.content {
    display:grid;
    grid-template-rows: 3fr 3fr 8fr;
    grid-template-columns: 1fr;
    grid-template-areas: "nav"
                         "info"
                         "items";
}
.nav {
    padding: 10px;
    margin-left: 10px;
    float: right;
    grid-area: nav;
}

.items {
    grid-area: items;
}

.userInfo {
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.4);
    color: orange;
    padding: 20px;
    margin-bottom: 10px;
    grid-area: info;
}
