.content {
    display: inline-grid;
    color: orange;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr 0.1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "itemInfo" "tableOfContents" "item" "comment";
}

.nav {
    grid-area: nav;
}

.item {
    background-color: rgba(153, 153, 153, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    grid-area: item;
}

.tableOfContents {
    background-color: rgba(153, 153, 153, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    grid-area: tableOfContents;
}

.itemInfo {
    margin: 20px;
    grid-area: itemInfo;
}

.comment {
    background-color: rgba(153, 153, 153, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    grid-area: comment;
}

.chapter {

}

.add {
    cursor: pointer;
}

.icon a{
    color: orange;
}

.icon{
    margin-left: 10px;
    cursor: pointer;
    vertical-align: top;
}

.button{
    margin-left: 1%;
    margin-top: 2%;
}