.item{
    padding: 10px;
    background-color: rgba(355, 165, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;

}

.body{
    margin: 10px;
}

.button{
    float: right;
}

.error{
    color: #ff5a00;
    font-weight: bold;
    font-style: oblique;
}